<!DOCTYPE html>
<html ng-app="RoosterApp">
  <head>
    <title>Strabrecht Rooster</title>
    <link rel="shortcut icon" href="/static/strabrecht.png">
    <link rel="stylesheet" href="/static/bower_components/bootstrap-css/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/bower_components/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" href="/static/rooster.css">

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="/static/bower_components/moment/min/moment.min.js"></script>
    <script src="/static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/static/nl.js"></script>
    <script>
    window.sources = UNTIS_JSON;
    window.startdate = 'UNTIS_STARTDATE';
    </script>
    <script src="/static/rooster.js"></script>
  </head>
  <body ng-controller="RoosterController">
    <header>

      <input ng-model="selected" id="select" placeholder="Zoek op klassen, lokalen, docenten en leerlingen" typeahead="source as source.title for source in sources | filter:$viewValue | limitTo:8" typeahead-on-select="select($model)" class="form-control" autofocus>

      <div class="source-container" ng-repeat="source in activeSources">
        <div class="source" ng-attr-style="border-color: {{source.borderColor}}; background-color: {{source.backgroundColor}}; color: {{source.textColor}};">
          {{source.title}} <button ng-click="remove($index)" class="btn btn-default btn-xs">X</button>
        </div>
        <ul class="dropdown-menu" role="menu" style="margin-top: -1px">
          <li><a href="http://www.google.com/calendar/render?cid=http://DOMAIN{{source.ics}}">Voeg toe aan Google Calendar</a></li>
          <li><a href="webcal://DOMAIN{{source.ics}}">Voeg toe aan lokale kalender</a></li>
          <li><a href="http://DOMAIN{{source.ics}}">Download .ics bestand</a></li>
        </ul>
      </div>
    </header>

     <div id="calendar"></div>
  </body>
</html>