<!DOCTYPE html>
<html ng-app="RoosterApp">
  <head>
    <title>Strabrecht Rooster</title>
    <link rel="stylesheet" href="/static/bower_components/bootstrap-css/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/bower_components/fullcalendar/dist/fullcalendar.css">

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="/static/bower_components/moment/min/moment.min.js"></script>
    <script src="/static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/static/nl.js"></script>
    <script>
    angular.module('RoosterApp', ['ui.bootstrap'])
    .controller('RoosterController', function($scope, $http) {
        $scope.activeSources = JSON.parse(localStorage['activeSources'] || []);
        $scope.sources = UNTIS_JSON;

        $scope.$watchCollection('activeSources', function(newSources, oldSources) {
            if(newSources == oldSources)
                oldSources = [];

            // Remove old sources
            $(oldSources).not(newSources).each(function(i, e) {
                $('#calendar').fullCalendar('removeEventSource', e.json_url)
            });

            // Add new sources
            $(newSources).not(oldSources).each(function(i, e) {
                $('#calendar').fullCalendar('addEventSource', e.json_url)
            });

            // Save in local storage
            localStorage['activeSources'] = JSON.stringify(newSources);
        });

        $scope.select = function(source) {
            $scope.selected = '';
            if($scope.activeSources.indexOf(source) == -1) {
                $scope.activeSources.push(source);
            }
        };
        $scope.remove = function(index) {
            $scope.activeSources.splice(index, 1);
        }

        // Set us up the calendar
        $('#calendar').fullCalendar({
            weekends: false,
            allDaySlot: false,
            minTime: '8:00:00',
            maxTime: '18:00:00',
            timezone: 'local',
            contentHeight: 8000,
            defaultView: 'agendaWeek',
            header:{
              left: 'title',
              center: '',
              right: 'today prev,next'
            },
            eventRender: function(event, element) {
                console.log(element);
            }
        }).fullCalendar( 'gotoDate', 'UNTIS_STARTDATE');

        // Custom ctrl+f
        $(window).keydown(function(e){
            if ((e.ctrlKey || e.metaKey) && e.keyCode === 70) {
                $('#select').focus();
                e.preventDefault();
            }
        });
    });

    </script>
    <style>
    .fc-agenda-slots td div { height: 30px; }
    body {
        margin: 50px;
    }
    #calendar {
        margin: 0 auto;
        clear: both;
    }

    .source {
        float: right;
        background-color: #FF9999;
        border: 1px solid black;
        padding: 15px;
        margin: 10px;
        border-radius: 5px;
    }

    #select {
        width: 50%;
    }
    </style>
  </head>
  <body ng-controller="RoosterController">
    <header>

      <div ng-repeat="source in activeSources" class="source">{{source.title}} <button ng-click="remove($index)">X</button></div>
      <input ng-model="selected" id="select" placeholder="Zoek op klassen, lokalen, docenten en leerlingen" typeahead="source as source.title for source in sources | filter:$viewValue | limitTo:8" typeahead-on-select="select($model)" class="form-control" autofocus>

    </header>


     <div id="calendar"></div>
  </body>
</html>