<!DOCTYPE html>
<html ng-app="calendarDemoApp">
  <head>
    <title>AngularUI Calendar for AngularJS</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="/static/bower_components/bootstrap-css/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/bower_components/fullcalendar/fullcalendar.css">

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/static/bower_components/fullcalendar/fullcalendar.js"></script>
    <script src="/static/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="/static/rooster.js"></script>
</head>
<body data-spy="scroll">
  <div class="container">
    <section id="directives-calendar" ng-controller="CalendarCtrl">
      <div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
    </section>
  </div>
</body>
</html>